@import url('reset.css');

:root{
    --line-color:#e4e5e7;
}
body{
    max-width: 1903px;
}
/* main */
/* div{
    border:1px solid black;
} */

/* header */
.section_header{
    border-bottom:1px solid var(--line-color);
}
.header{
    height:80px;
    display: flex;
    justify-content: space-between;
    padding:0 5%;
    margin:0 5%;
}

.header .logo{
    line-height:80px;
    flex-grow:2;
}
.logo>img{
    height:60px;
    vertical-align: middle;
}

.search{
    display:flex;
    align-items:center;
    flex-grow:1;
}
.search .searchbar{
    border:2px solid var(--line-color);
    border-radius: 30px;
    box-sizing:border-box;
    height:48px;
    width:100%;
    line-height:48px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 10%;
    box-shadow: 10px 5px 5px var(--line-color);
}
.searchbar>button{
    display:inline;
    padding:0,15px;
    background-color: transparent;
    border : transparent;
    flex-grow:1;
}
.searchbar>button:nth-of-type(2){
    border-style:solid;
    border-width:0px 1px 0px 1px;
    border-color:var(--line-color);
}
.search_icon{
    font-size:1px;
    margin:7px 7px 7px 0;
    background: red;
    color:white;
    border-radius: 20px;
    vertical-align: middle;
}
.usertool{
    flex-grow:2;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}
.usertool .host{
    line-height:48px;
    height:48px;
    order:3;
    display:flex;
    justify-content: center;
    align-items: center;
}
.usertool .host>div{
    padding:0 10px 0 10px;
}
.usertool .host>div:hover{
    cursor: pointer;
    background-color: var(--line-color);
}
.usertool .language{
    order:2;
    height:48px;
    line-height:48px;
    display:flex;
    align-items: center;
}
.usertool .language .language_icon{
    padding:10px;
}
.usertool .language .language_icon:hover{
    cursor: pointer;
    background-color: var(--line-color);
}
.usertool .login{
    order:1;
    border:1px solid var(--line-color);
    border-radius: 30px;
    height:48px;
    line-height: 48px;
    display:flex;
    align-items: center;
}
.usertool .login>span:first-child{
    padding:10px 5px 10px 15px;
}
.usertool .login>span:last-child{
    padding:10px 15px 10px 5px;
}







